* {
  margin: 0;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  margin: 0;
}
h1 {
  font-size: 4rem;
}
p {
  margin: 0;
  padding: 0;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover,
a:focus-visible {
  color: green;
}
.wrap {
  padding-inline: 1rem;
  max-width: 1000px;
  margin-inline: auto;
}
img {
  display: block;
  width: 100%;
}

/* HERO START */
.hero,
.hero a {
  color: #F9FAF8;
  background-color: #1F2937;
}
.hero a:hover,
.hero a:focus-visible {
  color: #999;
}
.hero-nav {
  display: flex;
  justify-content: space-between;
  padding-block-start: 1rem;
}
.hero ul {
  display: flex;

  list-style-type: none;
  margin: 0;
  padding: 0;
}
.hero-nav a {
  padding: 0.5rem;
}
.hero-hero {
  padding-block: 4rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hero-hero > * {
  flex: 1;
}
.hero-left,
.hero-right {
  min-inline-size: 400px;
}
.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}
.hero-left button {
  display: block;
}
.hero-right img{
  width: 100%;
}
@media (width < 832px) {
  .hero-left {
    align-items: center;
    padding: 2rem;
  }
} 
/* HERO END */

/* MAIN START */
.goals .wrap {
  padding-block: 10rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.card-deck {
  margin-block-start: 3rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}
.card {
  /* padding: 1rem; */
  padding: 0.5rem;
  width: 200px;
  border: 2px solid #EEE;
  border-radius: 15px;
}
.card img {
  width: 70%;
  margin-inline: auto;
}
.quote {
  display: flex;
  flex-direction: column;
  background-color: #EEE;
}
.quote-text {
  font-size: 2rem;
  font-weight: lighter;
  letter-spacing: 1px;
  font-style: italic;
}
.quote .wrap {
  padding-block: 10rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}
.quote-author {
  align-self: end;
  font-size: 1.5rem;
}
.subscribe .wrap {
  padding-block: 10rem;
}
.sub-cta {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-block: 4rem;
  padding-inline: 2rem;
  border-radius: 20px;
  background-color: #005fe4;
  color: #F9FAF8;
}
.sub-cta button,
.hero button {
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid #F9FAF8;
  background-color: #005fe4;
  color: #F9FAF8;
}
.hero button {
  border-color: #005fe4;
}
.sub-cta button:hover,
.hero button:hover {
  background-color: #F9FAF8;
  color: #005fe4;
}
.footer {
  background-color: #1F2937;
  color: #F9FAF8;
}
.footer .wrap {
  padding: 2rem;
  text-align: center;
}